{% extends "base.html" %}
{% block conent %}
<div class="ui menu borderless">
    <label class="item">充值卡列表：</label>

    <div class="right item">
        <button class="ui black button">导出</button>
        <div class="ui modal">
            <!-- <i class="close icon"></i> -->
            <div class="header">本页所有充值卡信息</div>
            <div class="image content">
                <div class="description">
                    <!-- <div class="ui header">你可以选择要复制的充值卡信息并复制即可。</div> -->
                    <div id="card_all_info">
                        {%for d in card_data%}
                        <p>
                            <pre>卡号：{{d[0]}}密码：{{d[1]}}授权天数：{{d[2]}}天</pre>
                        </p>
                        {%endfor%}
                    </div>
                </div>
            </div>
            <div class="actions">
                <div class="ui positive right labeled icon button btn" data-clipboard-target="#card_all_info">复制并关闭<i class="checkmark icon"></i></div>
            </div>
        </div>
    </div>

    <div class="right item">
        <div class="ui labeled icon input">
            <label class="ui label">制作：</label>
            <div class="ui compact selection dropdown">
                <i class="dropdown icon"></i>
                <div class="text">选择</div>
                <div class="menu">
                    <div class="item">5</div>
                    <div class="item">10</div>
                    <div class="item">20</div>
                    <div class="item">50</div>
                </div>
            </div>
            <label class="ui label">张</label>
            <div class="ui compact selection dropdown">
                <i class="dropdown icon"></i>
                <div class="text">选择</div>
                <div class="menu">
                    <div class="item">1</div>
                    <div class="item">7</div>
                    <div class="item">30</div>
                    <div class="item">90</div>
                    <div class="item">180</div>
                    <div class="item">365</div>
                </div>
            </div>
            <label for="search" class="ui label">天</label>
            &ensp;
            <button class="ui black button">生成</button>
        </div>
    </div>

    <div class="right item">
        <div class="ui labeled icon input">
            <label for="search" class="ui label">搜索：</label>
            <input id="search" type="text" placeholder="充值卡号..." onkeydown="keypress(event);">
            <i class="inverted circular search link icon"></i>
        </div>
    </div>
</div>


<table class="ui celled striped selectable table">
    <thead>
        <tr>
            <th>卡号</th>
            <th>密码</th>
            <th>授权天数</th>
            <th>是否充值</th>
            <th>充值机器码</th>
            <th>充值时间</th>
            <th class="left aligned">操作</th>
        </tr>
    </thead>
    {%for d in card_data%}
    <tr>
        <td>{{d[0]}}</td>
        <td>{{d[1]}}</td>
        <td>{{d[2]}}</td>
        {% if d[3]=='True' %}
        <td>已用</td>
        {% else %}
        <td>未用</td>
        {% endif %}
        <td>{{d[4]}}</td>
        <td>{{d[5]}}</td>
        <td>
            <i class="copy icon"></i>
            <a href="#" class="btn" data-clipboard-text="卡号：{{d[0]}} 密码：{{d[1]}}">复制</a>
            &ensp;&ensp;&ensp;&ensp;
            <i class="trash alternate icon"></i>
            <a class="delete" http="/admin/card_info/delete?key={{d[0]}}" href="#">删除</a>
        </td>
    </tr>
    {%endfor%}
</table>

<div class="ui fluid buttons">
    <button class="ui button" onclick="window.location.href = '?page={{page[0]}}'">首页</button>
    <div class="or"></div>
    <button class="ui button" onclick="window.location.href = '?page={{page[1]}}'">上一页</button>
    <div class="or"></div>
    <button class="ui button" onclick="window.location.href = '?page={{page[2]}}'">下一页</button>
    <div class="or"></div>
    <button class="ui button" onclick="window.location.href = '?page={{page[3]}}'">尾页</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //点击复制并关闭按钮
        // $('.ui.positive.right.labeled.icon.button').click(function () {
        //     alert('复制成功！');
        // });
        //点击导出按钮
        $('.ui.black.button').eq(0).click(function () {
            //semantic-ui显示弹出层
            $('.ui.modal').modal('show');
        });
        //点击生成按钮
        $('.ui.black.button').eq(1).on('click', function () {
            var num = $('.ui.compact.selection.dropdown').eq(0).find('.text').text();
            var day = $('.ui.compact.selection.dropdown').eq(1).find('.text').text();
            // console.log(num, day);
            if (num == '选择' || day == '选择') {
                alert('请选择制作数量和授权天数');
                return;
            }
            // console.log(JSON.stringify({ 'number': parseInt(num), 'days': parseInt(day) }));
            $.ajax({
                url: '/admin/card_info/make',
                type: 'POST',
                data: JSON.stringify({
                    'number': num,
                    'days': day
                }),
                success: function (data) {
                    if (data['code'] == 10000) {
                        alert('充值卡生成成功');
                        window.location.reload();
                    } else {
                        alert('充值卡生成失败');
                    }
                }
            });
        });
        //ajax删除(使用$(document).on('click', '.delete', function () {可以有效解决ajax刷新后的删除事件失效问题)
        $(document).on('click', '.delete', function () {
            // $('.delete').click(function () {
            var url = $(this).attr('http');
            console.log(url);
            // var url = $(this).next().attr('http');
            $.ajax({
                url: url,
                type: 'GET',
                success: function (data) {
                    if (data['code'] == 10000) {
                        alert('充值卡删除成功');
                        window.location.reload();
                    } else {
                        alert('充值卡删除成功');
                    }
                }
            });
        });

        //ajax搜索
        $('.inverted.circular.search.link.icon').click(function () {
            //取search的值
            var search = $('#search').val();
            if (search == '') {
                alert('请输入需搜索的充值卡号');
                //获取焦点
                $('#search').focus();
                return;
            }
            $.ajax({
                url: '/admin/card_info/search',
                type: 'GET',
                data: {
                    'key': search
                },
                success: function (data) {
                    console.log(data);
                    if (data['code'] == 10000) {
                        var card_data = data['data'];
                        var html = '';
                        html += '<thead><tr><th>卡号</th><th>密码</th><th>授权天数</th><th>是否充值</th><th>充值机器码</th><th>充值时间</th><th class="left aligned">操作</th></tr></thead>';
                        html += '<tr>';
                        html += '<td>' + card_data[0] + '</td>';
                        html += '<td>' + card_data[1] + '</td>';
                        html += '<td>' + card_data[2] + '</td>';
                        if (card_data[3] == 'True') {
                            html += '<td>已用</td>';
                        } else {
                            html += '<td>未用</td>';
                        }
                        html += '<td>' + card_data[4] + '</td>';
                        html += '<td>' + card_data[5] + '</td>';
                        html += '<td>';
                        html += '<i class="copy icon"></i>';
                        html += '<a href="#" class="btn" data-clipboard-text="卡号：' + card_data[0] + ' 密码：' + card_data[1] + '">复制</a>';
                        html += '&ensp;&ensp;&ensp;&ensp;';
                        html += '<i class="trash alternate icon"></i>';
                        html += '<a class="delete" http="/admin/card_info/delete?key=' + card_data[0] + '" href="#">删除</a>';
                        html += '</td>';
                        html += '</tr>';
                        $('.table').html(html);
                    } else {
                        alert('该充值卡不存在！');
                    }
                }
            });
        });
    });
    function keypress(e) {
        var evt = window.event || e;
        if (evt.keyCode == 13) {
            //点击搜索
            $('.inverted.circular.search.link.icon').click();
        }
    }
</script>
{% endblock %}